/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: "TTHovesMedium", Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

/* Estilos para el Encabezado */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 10;
    box-sizing: border-box;
}

header .logo img {
    height: 100px;
}

nav {
    position: relative;
}

/* Estilos para los iconos del menú */
nav .menu-icon, nav .close-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none; /* Ocultos por defecto */
}

/* Mostrar el icono de menú hamburguesa solo en dispositivos móviles */
@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
    }

    nav .close-icon.active {
        display: block;
    }
}

/* Estilo para cuando el menú está activo */
nav.active .menu-icon {
    display: none; /* Oculta el icono de hamburguesa cuando el menú está activo */
}

nav.active .close-icon {
    display: block; /* Muestra el icono de cierre (X) cuando el menú está activo */
}

/* Estilos para el menú y el efecto cortina */
nav .nav-links {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: -100%; /* Posición inicial fuera de la pantalla */
    padding: 100px 0 20px 0;
    transition: right 0.5s ease; /* Efecto de cortina */
    z-index: 1000;
    list-style: none
}

nav.active .nav-links {
    right: 0; /* Muestra el menú con el efecto de cortina */
}

nav .nav-links li {
    margin: 20px 0;
}

nav .nav-links li a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #ff2b2b;
}

/* Estilo de botones en pantallas grandes */
@media (min-width: 769px) {
    nav .nav-links {
        display: flex;
        gap: 15px;
        position: static;
        background-color: transparent;
        height: auto;
        flex-direction: row;
        right: auto;
        padding: 0;
    }

    nav .nav-links li a {
        font-size: 1rem;
        padding: 10px 20px;
        background-color: #0944e5;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    nav .nav-links li a:hover {
        background-color: #2b6bff;
    }
}

/* Deshabilitar scroll cuando el menú está abierto */
body.no-scroll {
    overflow: hidden;
}

/* Sección de Video de Fondo */
#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Sección del Logo Rotatorio */
#rotating-icon {
    height: 50vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-icon img {
    max-width: 300px;
    height: auto;
    transition: transform 2s;
}

.rotating-icon img:hover {
    transform: rotate(360deg);
}

/* Sección de Eventos */
#eventos {
    padding: 2rem;
    background-color: #222;
}

#eventos h2 {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.eventos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.evento img {
    width: 100%;
    border-radius: 10px;
}

.evento h3 {
    margin: 1rem 0 0.5rem 0;
}

#galleria {
    background-color: #111;
    padding: 50px 0;
    text-align: center;
}

/* Estilos para la galería */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 90%; /* Ajusta el ancho máximo */
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 30px; /* Aumenta el espacio entre las imágenes */
}

.slide {
    min-width: 300px; /* Ajusta el tamaño mínimo de las imágenes */
    overflow: hidden;
    border-radius: 15px; /* Aplica bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para resaltar las imágenes */
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.slide:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
}

.carousel-controls button {
    background-color: rgba(255, 0, 0, 0.7); /* Ajusta el color de los botones de navegación */
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}

.carousel-controls button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.carousel-controls .prev {
    left: -50px; /* Ajusta la posición del botón de anterior */
}

.carousel-controls .next {
    right: -50px; /* Ajusta la posición del botón de siguiente */
}

.carousel-indicators {
    text-align: center;
    margin-top: 20px;
}

.carousel-indicators .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .dot.active {
    background-color: #717171;
}


#reserva {
    background-color: #222;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

#reserva h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#reservation-form {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

#reservation-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#reservation-form input, #reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

#reservation-form button {
    width: 100%;
    padding: 10px;
    background-color: #0944e5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

#reservation-form button:hover {
    background-color: #2b6bff;
}

#reservation-confirmation {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Oculto por defecto */
}

.hide {
    display: none;
}


/* Estilos para el pie de página */
/* Estilos para el pie de página */
.footer {
    z-index: 1;
    --footer-background: linear-gradient(135deg, #1e0427, #121e2d, #050225);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
               bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background: var(--footer-background);
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-icons a {
    font-size: 1.5rem;
    color: #b0a6c6;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffffff;
}

.links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.links a {
    color: #b0a6c6;
    text-decoration: none;
    font-size: 0.875rem;
}

.links a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .footer .social-icons {
        gap: 1rem;
    }

    .footer .links {
        flex-direction: column;
        gap: 0.75rem;
    }

    .footer .links a {
        font-size: 0.875rem;
    }

    .footer .content {
        padding: 1rem;
    }
}

/* Animaciones de burbujas */
@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}
.footer .content p {
    color: rgba(245, 247, 250, 0.5); /* Ajusta la opacidad con el valor de alpha (0.5 es 50% de opacidad) */
    margin: 0;
    font-size: .75rem;
    text-align: center;
}
